<% if (site.categories.length){ %>
<div class="widget tag">
	<h3 class="title">
		<a href="/about/index.html">关于我</a>
	</h3>
	<ul class='entry'>
		<li>姓名：Mark</li>
		<li>所在地：大北欧</li>
		<li>现状：在人类所谓最适合生存的地方，读着掉头发的研究生</li>
		<li>想要<font color="red"><b color='red'>征婚</b></font>交友的朋友请<a href="/about/index.html">联系我</a>！！</li>
	</ul>
</div>
<% } %>